{%  extends "novabase.html" %}
{%  block title %}Administrators {%  endblock  %}
{%  block subtitle %} Administrators {%  endblock  %}
{%  block trunkstyle  %}{%  endblock  %}
{%  block mainpart  %}
<div class="smallcontainer">
  <h1>New {{  nav.listing[-1].name  }} {{ nav.listing[-1].title }}  Administrator</h1>
  <form method="POST">
    <fieldset>
      <label>Address</label>
      <input name="addr" type="text" placeholder="User Address" />
    </fieldset>
    <fieldset>
      <label>Password</label>
      <input name="pwd" type="password" placeholder="Password" />
    </fieldset>
    <input type="submit" />
  </form>
</div>
<div class="humblecontainer">
  {%  for r in display.nat.list() %}
    <div class="datapoint">
      <form method="POST" class="admin">
        <input type="hidden" value="{{  r['indexcol'] }}" name="del" />
        <div>{{ r['address'] }}</div>
        <input type="submit" value="Delete" />
      </form>
    </div>
  {%  endfor  %}
</div>
{%  endblock  %}
