<!DOCTYPE html>
<html>
  <head>
    <title>RapidSMS • {%  block title %}  Welcome {%  endblock  %}</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <!--  <link rel="stylesheet" type="text/css" href="{{ static_path }}/stylesheets/samples.css" />  -->
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div id="nom">
          <div id="primary">
            <img src="{{  static_path }}/images/rwanda.png" />
            <!--
          </div>
          <div id="secondary">
                  -->
            <img src="{{  static_path }}/images/rapid.png" />
            <img src="{{  static_path }}/images/unicef.png" />
          </div>
          <div id="motto"></div>
        </div>
        <div id="langs">
          <ul>
            <li>English</li>
            <li>Kinyarwanda</li>
            <li>Français</li>
          </ul>
        </div>
        <div id="indicators">
          <div class="homelink">
            <a href="/">Home</a>
          </div>
          {%  for ind in indicators  %}
          <div class="indicator{%  if  ind.ref == ref %} activeindicator{%  endif %}">
              <a href="/dashboards/{{ ind.ref }}">{{ ind.name  }}</a>
            </div>
          {%  endfor  %}
        </div>
        <div id="subtitle">
          <div class="mainhead">{%  block subtitle %}{% endblock  %}</div>
          <div class="extrainfo">{%  block extrainfo %}
            <!--  <a href="/tables/{{ ref }}"><div class="location">Rwanda</div>  -->
            <a href=""><div class="location">Rwanda</div>
            <div class="times">
              <div class="start">
                {{  nav.start.strftime("%A %d %B %Y") }}
              </div>
              <div class="finish">
                {{  nav.finish.strftime("%A %d %B %Y") }}
</div></a> ({{  (nav.finish - nav.start).days|neat_numbers}} days)
{% endblock  %}</div>
        </div>
        <div id="descriptive">{%  block descriptive %}{% endblock  %}</div>
        <div id="navbar">
          <form id="dateranges">
            <fieldset>
              <legend>Period</legend>
              <input value="{{  args.get('start', '')  }}" class="activedate" type="date" name="start" />
              <input value="{{  args.get('finish', '')  }}" class="activedate" type="date" name="finish" />
            </fieldset>
            <fieldset>
              <legend>Location</legend>
              <select>
                {%  for location in locations %}
                {%  endfor  %}
              </select>
            </fieldset>
            <input type="submit" />
          </form>
        </div>
      </div>
      <div id="trunk">
        {%  block mainpart  %}
          {{  static_path }}
        {%  endblock  %}
      </div>
      <div id="footer">
        &copy; 2014
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="{{ static_path }}/javascripts/clientside.js" type="text/javascript"></script>
    <script src="{{ static_path }}/javascripts/samples.js" type="text/javascript"></script>
  </body>
</html>
