{%  extends "basicreporters.html" %}
{%  block mainpart  %}
  <div class="smallcontainer">
    <div class="infoname">Total Reporters</div>
    <div class="infodata goodnum playable">
      <a href="{{ nav.link("/tables/reporters") }}">{{  display.total|neat_numbers }}</a>
    </div>
    <div class="graphicard">
      <img src="{{  static_path }}/images/phonepic.png" />
    </div>
  </div>
  <div class="humblecontainer">
    <div class="datapoint">
      <div class="number playable"><a href="{{  nav.link("/tables/reports") }}">{{  display.reptot|neat_numbers  }}</a></div>
      <div class="descr">Total Reports Sent</div>
    </div>
  </div>
{%  endblock  %}
